.checkout__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.checkout__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.checkout__container-m-30 {
    margin: 30px;
}

.checkout__width-half {
    width: 50%;
}

.checkout__container-mr-30 {
    margin-right: 30px;
}

.checkout__container-table {
    width: 100%;
}

.checkout__width-3 {
    flex-basis: 30%;
    margin-right: 20px;
}
.checkout__header {
    font-size: 18px;
    font-weight: 600;
    color: #ed1651;
}
.checkout__label {
    font-size: 14px;
    font-weight: 300;
    color: #999999;
    margin-top: 19px;
    margin-bottom: 7px;
}
.checkout__input {
    border: none;
    background-color: #e9e9e9;
    color: black;
    height: 47px;
    width: 391px;
    padding-left: 17px;
    font-family: 'SuperMolot';
}
.checkout__link {
    margin-left: 23px;
    font-size: 14px;
    font-weight: 300;
}

.checkout__cell {
    
}

.checkout__data {
    font-size: 18px;
    font-weight: 300;
}

.checkout__subtotal {
    font-size: 18px;
    font-weight: 700;
    font-style: oblique;

}

.checkout__oblique {
    font-size: 18px;
    font-weight: 300;
    font-style: oblique;
}

.checkout__total {
    font-size: 30px;
    font-weight: 700;
    font-style: oblique;
}

.checkout__successheading {
    font-weight: 700;
    font-size: 20px;   
}

.checkout__successstatus {
    color: #ed1651;
}

.validation__error {
    color: #ed1651;
    font-size: 14px;
}

